@{
    ViewBag.Title = "Gestor";
}
<h3>@ViewBag.Message</h3>

<div class="container text-center">
    <div class="row">
        <div class="col-6 col-sm-6">
            <h1 style="color: orange; font: bold 48px rockwell extra bold">Inventario</h1>
            <div class="card">
                <p>
                    <a class="btn btn-default" style="background-color: skyblue; color: white; border-color: skyblue" href="https://localhost:44392/Home/Inventario">
                        Agregar productos al inventario
                    </a>
                </p>
                <p>
                    <a class="btn btn-default" style="background-color: skyblue; color: white; border-color: skyblue" href="https://localhost:44392/Home/Inventario">
                        Administrar los productos existentes
                    </a>
                </p>
                <p>
                    <span class="a-button-inner"><span class="a-button-text a-declarative" data-csa-c-content-id="dropdown_selected_color_name" data-csa-c-element-type="menu" data-csa-c-func-deps="aui-da-a-dropdown-button" data-csa-c-slot-id="dropdown_selected_color_name" data-csa-c-type="widget" data-csa-interaction-events="click" data-action="a-dropdown-button" aria-hidden="true" data-csa-c-id="swduwk-1xx840-je21t8-aamqq9"><span class="a-dropdown-prompt"> Azul Oscuro (409)/Blanco </span></span><i class="a-icon a-icon-dropdown"></i></span>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-6">
            <h1 style="color: orange; font: bold 48px rockwell extra bold">Empleado</h1>
            <div class="card">
                <p>
                    <a class="btn btn-default" style="background-color: skyblue; color: white; border-color: skyblue" href="https://localhost:44392/Home/Empleado">
                        Registrar un nuevo empleado
                    </a>
                </p>
                <p>
                    <a class="btn btn-default" style="background-color: skyblue; color: white; border-color: skyblue" href="https://localhost:44392/Home/Empleado">
                        Administrar un empleado existente
                    </a>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-6">
            <h1 style="color: orange; font: bold 48px rockwell extra bold">Venta</h1>
            <div class="card">
                <p>
                    <a class="btn btn-default" style="background-color: skyblue; color: white; border-color: skyblue" href="https://localhost:44392/Home/Venta">
                        Crear una factura
                    </a>
                </p>
                <p>
                    <a class="btn btn-default" style="background-color: skyblue; color: white; border-color: skyblue" href="https://localhost:44392/Home/Venta">
                        Administrar las facturas existentes
                    </a>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-6">
            <h1 style="color: orange; font: bold 48px rockwell extra bold">Sucursal</h1>
            <div class="card">
                <p>
                    <a class="btn btn-default" style="background-color: skyblue; color: white; border-color: skyblue" href="https://localhost:44392/Home/Sucursal">
                        Registrar una nueva sucursal
                    </a>
                </p>
                <p>
                    <a class="btn btn-default" style="background-color: skyblue; color: white; border-color: skyblue" href="https://localhost:44392/Home/Sucursal">
                        Administrar una sucursal existente
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>