@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align: center; border-color: skyblue; background-image: url(https://media.istockphoto.com/id/1319201545/video/video-animation-with-moving-ice-cream-cones-and-ice-lolly-on-pink-background.jpg?s=640x640&k=20&c=tNgQe1sIzxRc1KDdb4j4Re-NDu2URNUPKkmuf4Ia1jA=)">
    <h1 style="font: bold 88px rockwell extra bold; color: skyblue">Ay! Scream</h1>
    <p class="lead" style="font: bold 24px rockwell extra bold; color: skyblue">
        Somos una heladería que brinda calidad a través de productos <br>
        que generan alegría y diversión. ¡Sal de la rutina!
    </p>
    <p><a href="https://localhost:44392/Login/Register" class="btn btn-primary btn-lg" style="background-color: skyblue; border-color: skyblue">¡Crea tu cuenta aqui! </a></p>
</div>


<div class="row" style="text-align: center">
    <div class="col-md-4">
        <h2 style="color: orange; font: bold 52px rockwell extra bold">Sobre nosotros</h2>
        <p style="font:18px rockwell extra bold">
            Con conos coloridos, su variedad de sabores y toppings, y un área de
            juegos, llega esta heladería con una experiencia diferente para los
            peques de la casa, buscando prevalecer en el tiempo mientras
            disfrutas con los tuyos el sabor de compartir.
        </p>
        <p><a class="btn btn-default" style="background-image: url(https://img.freepik.com/vector-premium/fondos-textura-marmol-liquido-fondos-psicodelicos-ondulados-pintura-abstracta-diseno-web_610716-586.jpg); color: white; border-color: orange" href="https://ar.pinterest.com/pin/422281209337530/">Conozca más</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color: orange; font: bold 52px rockwell extra bold">Lo que somos</h2>
        <p style="font:18px rockwell extra bold">
            Los valores que nos definen son la empatía, integridad, amor y
            responsabilidad. Nuestros productos de primera clase son cuidadosamente
            seleccionados para garantizar la mejor experiencia a los consumidores.
        </p>
        <p><a class="btn btn-default" style="background-image: url(https://img.freepik.com/vector-premium/fondos-textura-marmol-liquido-fondos-psicodelicos-ondulados-pintura-abstracta-diseno-web_610716-586.jpg); color: white; border-color: orange" href="https://ar.pinterest.com/pin/293437731983729227/">Conozca más</a></p>
    </div>
</div>